body {
  font-family: '微软雅黑';
}
body ul {
  list-style: none;
}
a,
a:hover,
a:visited,
a:checked {
  color: #000;
  text-decoration: none;
}
.main-ui-view-wrap {
  overflow: hidden;
}
.jobs-nav-check {
  background: #fafafa;
  padding: 10px;
}
.jobs-nav-check .job-type-item {
  margin-left: 10px;
  margin-right: 10px;
  padding-left: 5px;
  padding-right: 5px;
  cursor: pointer;
}
.jobs-nav-check .active-type {
  color: #fff;
  background: #00b38a;
}
.jobs-nav-check .active {
  background: #00b38a;
  color: #fff;
}
.job-info-wrap {
  background: #fff;
}
.job-info-wrap .job-item-wrap {
  border: 1px solid #ccc;
  border-left: 4px solid #00b38a;
  padding: 10px;
  margin-top: 20px;
}
.job-info-wrap .job-item-wrap:hover {
  background: #fafafa;
}
.job-info-wrap .job-item-wrap .line1 .name-location {
  color: #00b38a;
}
.job-info-wrap .job-item-wrap .line1 .time {
  float: right;
  color: #999;
}
.job-info-wrap .job-item-wrap .line2 .salary {
  color: red;
}
.job-info-wrap .job-item-wrap .line2 .experience {
  margin-left: 22px;
}
.all-company-content {
  position: relative;
  overflow: hidden;
}
.all-company-content .single-company-wrap {
  float: left;
  width: 240px;
  height: 180px;
  margin: 20px;
  padding: 0;
  background: rgba(250, 240, 230, 0.6);
  box-sizing: border-box;
}
.all-company-content .single-company-wrap p {
  padding: 0;
  margin: 0;
}
.all-company-content .single-company-wrap .enter-company-btn {
  display: block;
  width: 100px;
  height: 30px;
  line-height: 30px;
  text-align: center;
  border-radius: 10px;
  background: #00b38a;
  margin: 0 auto;
  cursor: pointer;
  margin-top: 10px;
}
.all-company-content .main {
  width: 240px;
  height: 180px;
  box-sizing: border-box;
}
.all-company-content .wrapper {
  position: relative;
  height: 100%;
  width: 100%;
  -webkit-transform-style: preserve-3d;
  -webkit-transform: rotateX(0deg);
  -webkit-transition: all 0.25s linear;
  box-sizing: border-box;
}
.all-company-content .wrapper .front {
  height: 100%;
  width: 100%;
  left: 0;
  top: 0;
  position: absolute;
  transform: translateZ(87px);
  box-sizing: border-box;
}
.all-company-content .wrapper .front .img {
  width: 100%;
  height: 100%;
}
.all-company-content .wrapper .back {
  height: 100%;
  width: 100%;
  left: 0;
  top: 0;
  color: red;
  position: absolute;
  background: #646414;
  box-sizing: border-box;
  transform: rotateX(-90deg) translateZ(80px);
  cursor: pointer;
}
.all-company-content .wrapper:hover {
  -webkit-transform: rotateX(92deg);
}
